In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

mtalbert = pd.read_csv('../SoilMoistureResearch/Data/soil data/mtalbert-648717-20241008172730/MtAlbert_Data_15mins.csv', parse_dates=['Timestamp (UTC+12:00)'])
mtalbert.head()

  Timestamp (UTC+12:00)  Rain(mm)  SoilTemp(c)  SoilMoisture(%)
0   2018-07-07 11:15:00       0.0         10.4           37.364
1   2018-07-07 11:30:00       0.0         10.4           37.594
2   2018-07-07 11:45:00       0.0         10.4           37.590
3   2018-07-07 12:00:00       0.0         10.5           37.587
4   2018-07-07 12:15:00       0.0         10.5           37.584

In [6]:
station_files = [
    '../Data/soil data/mtalbert-648717-20241008172730/MtAlbert_Data_15mins.csv',
    '../Data/soil data/Ararimu Zanders 647510-20240909095405/ArarimuCombined_Data_15mins.csv',
    '../Data/soil data/Awhitu-741611-20240910095744/awhituCombined_Data_15mins.csv',
    '../Data/soil data/HoteoatOldfields-643510-20240909094142/hoteoCombined_Data_15mins.csv',
    '../Data/soil data/Kaipara Heads-644211-20240909095124/Kaipara_Data_15mins.csv',
    '../Data/soil data/MangemangeroaCraigs649937-20240910100813/mangemangeroaCombined_Data_15mins.csv',
    '../Data/soil data/TamahungaQuintalsRd-643713-20240909094554/tamahungaCombined_Data_15mins.csv',
    '../Data/soil data/Tomarata64068001-20240910095547/tomarataCombined_Data_15mins.csv',
    '../Data/soil data/WaitangiDiverRoad742736-20240910101133/waitangiCombined_Data_15mins.csv',
    '../Data/soil data/Whangamarie741813-20240910102615/whangamarieCombined_Data_15mins.csv'
]

In [7]:
additional_info = {
    'Location': ['Kaipara Heads @ Wallers', 'Hoteo at Oldfields', 'Tamahunga @ Quintals Rd',
                 'Tomarata at Briens Farm', 'Ararimu @ Zanders', 'Mt Albert Grammer rainfall',
                 'Mangemangeroa @ craigs', 'Awhitu @ Brook Road', 'Waitangi @ Diver Road', 
                 'Whangamaire @ Culvert'],
    'Soil order': ['Brown', 'Ultic', 'Ultic', 'Ultic', 'Allophanic', 'Ultic', 
                   'Ultic', 'Granular', 'Granular', 'Allophanic'],
    'NZ Soil Classification': ['Red Hill sandy loam', 'Typic Yellow Ultic', 'Typic Yellow Ultic', 
                              'Perch Gley or Densipan Ultic', 'Typic Orthic Allophanic', 
                              'Mottled Yellow Ultic', 'Typic Yellow Ultic', 
                              'Typic Orthic Granular', 'Typic Orthic Granular', 
                              'Typic Orthic Allophanic'],
    'Mean annual rainfall (mm)': [1054, 1347, 1561, 1172, 1352, 1242, 1198, 1372, 1280, 1329],
    'Pastoral land use': ['Drystock', 'Lifestyle block', 'Drystock', 'Dairy', 
                          'Drystock', 'Mixed dairy and drystock', 'Lifestyle block', 
                          'Regional Park', 'Dairy', 'Lifestyle block'],
    'Ecological District': ['Kaipara', 'Rodney', 'Rodney', 'Rodney', 'Waitakere', 
                           'Tamaki', 'Tamaki', 'Awhitu', 'Manukau', 'Manukau']
}

info_df = pd.DataFrame(additional_info)

In [11]:
info_df.head()

,Location,Soil order,NZ Soil Classification,Mean annual rainfall (mm),Pastoral land use,Ecological District
0,Kaipara Heads @ Wallers,Brown,Red Hill sandy loam,1054,Drystock,Kaipara
1,Hoteo at Oldfields,Ultic,Typic Yellow Ultic,1347,Lifestyle block,Rodney
2,Tamahunga @ Quintals Rd,Ultic,Typic Yellow Ultic,1561,Drystock,Rodney
3,Tomarata at Briens Farm,Ultic,Perch Gley or Densipan Ultic,1172,Dairy,Rodney
4,Ararimu @ Zanders,Allophanic,Typic Orthic Allophanic,1352,Drystock,Waitakere

In [12]:
data_frames = []

# Loop through each file, read and clean the data
for file in station_files:
    df = pd.read_csv(file)
    
    # Convert the timestamp column to datetime
    df['Timestamp (UTC+12:00)'] = pd.to_datetime(df['Timestamp (UTC+12:00)'])
    
    # Optionally, clean column names if needed (e.g., removing spaces)
    df.columns = df.columns.str.strip()
    
    # Extract location from file path (you can adjust this as needed)
    location = file.split('/')[2].split('-')[0]
    
    # Add location information to DataFrame
    df['Location'] = location
    
    # Append to list
    data_frames.append(df)

# Concatenate all DataFrames into one
combined_df = pd.concat(data_frames, ignore_index=True)

# Merge with additional information
final_df = combined_df.merge(info_df, on='Location', how='left')

# Display the first few rows of the final DataFrame
print(final_df.head())

FileNotFoundError: [Errno 2] No such file or directory: '../Data/soil data/mtalbert-648717-20241008172730/MtAlbert_Data_15mins.csv'

# Cleaning data

In [9]:
# Print the number of missing entries in each column
mtalbert.isnull().sum()

Timestamp (UTC+12:00)    0
Rain(mm)                 0
SoilTemp(c)              0
SoilMoisture(%)          0
dtype: int64

In [10]:
# Handling missing data
blackfriday[['Product_Category_2', 'Product_Category_3']] = blackfriday[['Product_Category_2', 'Product_Category_3']].fillna(0).astype(int)
blackfriday.isnull().sum()

NameError: name 'blackfriday' is not defined

In [ ]:
blackfriday.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 550068 entries, 0 to 550067
Data columns (total 12 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   User_ID                     550068 non-null  int64
 1   Product_ID                  550068 non-null  object
 2   Gender                      550068 non-null  object
 3   Age                         550068 non-null  object
 4   Occupation                  550068 non-null  int64
 5   City_Category               550068 non-null  object
 6   Stay_In_Current_City_Years  550068 non-null  object
 7   Marital_Status              550068 non-null  int64
 8   Product_Category_1          550068 non-null  int64
 9   Product_Category_2          550068 non-null  int32
 10  Product_Category_3          550068 non-null  int32
 11  Purchase                    550068 non-null  int64
dtypes: int32(2), int64(5), object(5)
memory usage: 46.2+ MB

- Standardizing your data by address Inconsistencies:

In [ ]:
# replace age '55+' with '55-100'
blackfriday['Age'].replace('55+', '55-100', inplace=True)

#  replace Stay_In_Current_City_Years '4+' with 4
blackfriday['Stay_In_Current_City_Years'].replace('4+', 4, inplace=True)

In [ ]:
print(sorted(blackfriday['Age'].unique()))

['0-17', '18-25', '26-35', '36-45', '46-50', '51-55', '55-100']

In [ ]:
blackfriday['Stay_In_Current_City_Years'] = pd.to_numeric(blackfriday['Stay_In_Current_City_Years'])
print(sorted(blackfriday['Stay_In_Current_City_Years'].unique()))

[0, 1, 2, 3, 4]

In [ ]:
blackfriday.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 550068 entries, 0 to 550067
Data columns (total 12 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   User_ID                     550068 non-null  int64
 1   Product_ID                  550068 non-null  object
 2   Gender                      550068 non-null  object
 3   Age                         550068 non-null  object
 4   Occupation                  550068 non-null  int64
 5   City_Category               550068 non-null  object
 6   Stay_In_Current_City_Years  550068 non-null  int64
 7   Marital_Status              550068 non-null  int64
 8   Product_Category_1          550068 non-null  int64
 9   Product_Category_2          550068 non-null  int32
 10  Product_Category_3          550068 non-null  int32
 11  Purchase                    550068 non-null  int64
dtypes: int32(2), int64(6), object(4)
memory usage: 46.2+ MB

In [ ]:
columns_to_encode = ['Occupation','Marital_Status', 'Gender', 'Age', 'City_Category', 'Stay_In_Current_City_Years','Product_Category_1' , 'Product_Category_2', 'Product_Category_3']

# Use the pd.get_dummies() function to perform one-hot encoding
blackfriday_encoded = pd.get_dummies(blackfriday, columns=columns_to_encode)
blackfriday_encoded.head()

,User_ID,Product_ID,Purchase,Occupation_0,Occupation_1,Occupation_2,Occupation_3,Occupation_4,Occupation_5,Occupation_6,...,Product_Category_3_9,Product_Category_3_10,Product_Category_3_11,Product_Category_3_12,Product_Category_3_13,Product_Category_3_14,Product_Category_3_15,Product_Category_3_16,Product_Category_3_17,Product_Category_3_18
0,1000001,P00069042,8370,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,1000001,P00248942,15200,False,False,False,False,False,False,False,...,False,False,False,False,False,True,False,False,False,False
2,1000001,P00087842,1422,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,1000001,P00085442,1057,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,1000002,P00285442,7969,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [ ]:
blackfriday_encoded.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 550068 entries, 0 to 550067
Data columns (total 97 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   User_ID                       550068 non-null  int64
 1   Product_ID                    550068 non-null  object
 2   Purchase                      550068 non-null  int64
 3   Occupation_0                  550068 non-null  bool
 4   Occupation_1                  550068 non-null  bool
 5   Occupation_2                  550068 non-null  bool
 6   Occupation_3                  550068 non-null  bool
 7   Occupation_4                  550068 non-null  bool
 8   Occupation_5                  550068 non-null  bool
 9   Occupation_6                  550068 non-null  bool
 10  Occupation_7                  550068 non-null  bool
 11  Occupation_8                  550068 non-null  bool
 12  Occupation_9                  550068 non-null  bool
 13  Occupation_10                 550068 non-null  bool
 14  Occupation_11                 550068 non-null  bool
 15  Occupation_12                 550068 non-null  bool
 16  Occupation_13                 550068 non-null  bool
 17  Occupation_14                 550068 non-null  bool
 18  Occupation_15                 550068 non-null  bool
 19  Occupation_16                 550068 non-null  bool
 20  Occupation_17                 550068 non-null  bool
 21  Occupation_18                 550068 non-null  bool
 22  Occupation_19                 550068 non-null  bool
 23  Occupation_20                 550068 non-null  bool
 24  Marital_Status_0              550068 non-null  bool
 25  Marital_Status_1              550068 non-null  bool
 26  Gender_F                      550068 non-null  bool
 27  Gender_M                      550068 non-null  bool
 28  Age_0-17                      550068 non-null  bool
 29  Age_18-25                     550068 non-null  bool
 30  Age_26-35                     550068 non-null  bool
 31  Age_36-45                     550068 non-null  bool
 32  Age_46-50                     550068 non-null  bool
 33  Age_51-55                     550068 non-null  bool
 34  Age_55-100                    550068 non-null  bool
 35  City_Category_A               550068 non-null  bool
 36  City_Category_B               550068 non-null  bool
 37  City_Category_C               550068 non-null  bool
 38  Stay_In_Current_City_Years_0  550068 non-null  bool
 39  Stay_In_Current_City_Years_1  550068 non-null  bool
 40  Stay_In_Current_City_Years_2  550068 non-null  bool
 41  Stay_In_Current_City_Years_3  550068 non-null  bool
 42  Stay_In_Current_City_Years_4  550068 non-null  bool
 43  Product_Category_1_1          550068 non-null  bool
 44  Product_Category_1_2          550068 non-null  bool
 45  Product_Category_1_3          550068 non-null  bool
 46  Product_Category_1_4          550068 non-null  bool
 47  Product_Category_1_5          550068 non-null  bool
 48  Product_Category_1_6          550068 non-null  bool
 49  Product_Category_1_7          550068 non-null  bool
 50  Product_Category_1_8          550068 non-null  bool
 51  Product_Category_1_9          550068 non-null  bool
 52  Product_Category_1_10         550068 non-null  bool
 53  Product_Category_1_11         550068 non-null  bool
 54  Product_Category_1_12         550068 non-null  bool
 55  Product_Category_1_13         550068 non-null  bool
 56  Product_Category_1_14         550068 non-null  bool
 57  Product_Category_1_15         550068 non-null  bool
 58  Product_Category_1_16         550068 non-null  bool
 59  Product_Category_1_17         550068 non-null  bool
 60  Product_Category_1_18         550068 non-null  bool
 61  Product_Category_1_19         550068 non-null  bool
 62  Product_Category_1_20         550068 non-null  bool
 63  Product_Category_2_0          550068 non-null  bool
 64  Product_Category_2_2          550068 non-null  bool
 65  Product_Category_2_3          550068 non-null  bool
 66  Product_Category_2_4          550068 non-null  bool
 67  Product_Category_2_5          550068 non-null  bool
 68  Product_Category_2_6          550068 non-null  bool
 69  Product_Category_2_7          550068 non-null  bool
 70  Product_Category_2_8          550068 non-null  bool
 71  Product_Category_2_9          550068 non-null  bool
 72  Product_Category_2_10         550068 non-null  bool
 73  Product_Category_2_11         550068 non-null  bool
 74  Product_Category_2_12         550068 non-null  bool
 75  Product_Category_2_13         550068 non-null  bool
 76  Product_Category_2_14         550068 non-null  bool
 77  Product_Category_2_15         550068 non-null  bool
 78  Product_Category_2_16         550068 non-null  bool
 79  Product_Category_2_17         550068 non-null  bool
 80  Product_Category_2_18         550068 non-null  bool
 81  Product_Category_3_0          550068 non-null  bool
 82  Product_Category_3_3          550068 non-null  bool
 83  Product_Category_3_4          550068 non-null  bool
 84  Product_Category_3_5          550068 non-null  bool
 85  Product_Category_3_6          550068 non-null  bool
 86  Product_Category_3_8          550068 non-null  bool
 87  Product_Category_3_9          550068 non-null  bool
 88  Product_Category_3_10         550068 non-null  bool
 89  Product_Category_3_11         550068 non-null  bool
 90  Product_Category_3_12         550068 non-null  bool
 91  Product_Category_3_13         550068 non-null  bool
 92  Product_Category_3_14         550068 non-null  bool
 93  Product_Category_3_15         550068 non-null  bool
 94  Product_Category_3_16         550068 non-null  bool
 95  Product_Category_3_17         550068 non-null  bool
 96  Product_Category_3_18         550068 non-null  bool
dtypes: bool(94), int64(2), object(1)
memory usage: 61.9+ MB

# Predictive Modeling:

In [ ]:
# 1) Import Libraries:
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LinearRegression

In [ ]:
# 2) Prepare Data:

# Split the data into features and target
# Define features and target
X =  blackfriday_encoded[[ 'Occupation_0', 'Occupation_1',
       'Occupation_2', 'Occupation_3', 'Occupation_4', 'Occupation_5',
       'Occupation_6', 'Occupation_7', 'Occupation_8', 'Occupation_9',
       'Occupation_10', 'Occupation_11', 'Occupation_12', 'Occupation_13',
       'Occupation_14', 'Occupation_15', 'Occupation_16', 'Occupation_17',
       'Occupation_18', 'Occupation_19', 'Occupation_20', 'Marital_Status_0',
       'Marital_Status_1', 'Gender_F', 'Gender_M', 'Age_0-17', 'Age_18-25',
       'Age_26-35', 'Age_36-45', 'Age_46-50', 'Age_51-55', 'Age_55-100',
       'City_Category_A', 'City_Category_B', 'City_Category_C',
       'Stay_In_Current_City_Years_0', 'Stay_In_Current_City_Years_1',
       'Stay_In_Current_City_Years_2', 'Stay_In_Current_City_Years_3',
       'Stay_In_Current_City_Years_4', 'Product_Category_1_1',
       'Product_Category_1_2', 'Product_Category_1_3', 'Product_Category_1_4',
       'Product_Category_1_5', 'Product_Category_1_6', 'Product_Category_1_7',
       'Product_Category_1_8', 'Product_Category_1_9', 'Product_Category_1_10',
       'Product_Category_1_11', 'Product_Category_1_12',
       'Product_Category_1_13', 'Product_Category_1_14',
       'Product_Category_1_15', 'Product_Category_1_16',
       'Product_Category_1_17', 'Product_Category_1_18',
       'Product_Category_1_19', 'Product_Category_1_20',
       'Product_Category_2_0', 'Product_Category_2_2', 'Product_Category_2_3',
       'Product_Category_2_4', 'Product_Category_2_5', 'Product_Category_2_6',
       'Product_Category_2_7', 'Product_Category_2_8', 'Product_Category_2_9',
       'Product_Category_2_10', 'Product_Category_2_11',
       'Product_Category_2_12', 'Product_Category_2_13',
       'Product_Category_2_14', 'Product_Category_2_15',
       'Product_Category_2_16', 'Product_Category_2_17',
       'Product_Category_2_18', 'Product_Category_3_0', 'Product_Category_3_3',
       'Product_Category_3_4', 'Product_Category_3_5', 'Product_Category_3_6',
       'Product_Category_3_8', 'Product_Category_3_9', 'Product_Category_3_10',
       'Product_Category_3_11', 'Product_Category_3_12',
       'Product_Category_3_13', 'Product_Category_3_14',
       'Product_Category_3_15', 'Product_Category_3_16',
       'Product_Category_3_17', 'Product_Category_3_18'
]].values
y = blackfriday_encoded[['Purchase']].values

In [ ]:
# 3) Split Data:
from sklearn.model_selection import train_test_split

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Random Forest

In [ ]:
# Random Forest model
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error
from math import sqrt

rf_model = RandomForestRegressor()
rf_model.fit(X_train, y_train)
rf_predictions = rf_model.predict(X_test)

c:\Users\Ying\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\base.py:1152: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)

In [ ]:
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
from math import sqrt

def evaluate_model(predictions, y_test):
    mae = mean_absolute_error(y_test, predictions)
    mse = mean_squared_error(y_test, predictions)
    rmse = sqrt(mse)
    r2 = r2_score(y_test, predictions)

    return mae, mse, rmse, r2

rf_mae, rf_mse, rf_rmse, rf_r2 = evaluate_model(rf_predictions, y_test)

print("\nRandom Forest Testing Set Metrics:")
print(f"MAE: {rf_mae}")
print(f"MSE: {rf_mse}")
print(f"RMSE: {rf_rmse}")
print(f"R2 Score: {rf_r2}")

Random Forest Testing Set Metrics:
MAE: 2216.912333111453
MSE: 9288465.693088328
RMSE: 3047.6984255480934
R2 Score: 0.6303271840984528