# Step 1: Data Collection

In [1]:
# import library
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

# Soil Moisture data in _Tomarata
sm = pd.read_csv('../Data/soil data/Tomarata64068001-20240910095547/TomarataSoilMoistureContinuous@64068001-20240910095535.csv', parse_dates=['Timestamp (UTC+12:00)'])
sm.head(5)

# smheadtail = (np.r_[0:5, -5:0])
smheadtail = sm.iloc[np.r_[0:5, -5:0]]
print(smheadtail)

       Timestamp (UTC+12:00)  SoilMoisture(%)
0        2018-07-07 11:45:00           38.873
1        2018-07-07 12:00:00           38.711
2        2018-07-07 12:15:00           38.718
3        2018-07-07 12:30:00           38.715
4        2018-07-07 12:45:00           38.867
186604   2024-09-10 20:45:00           38.294
186605   2024-09-10 21:00:00           38.294
186606   2024-09-10 21:15:00           38.294
186607   2024-09-10 21:30:00           38.058
186608   2024-09-10 21:45:00           38.058

In [2]:
# Soil Temperature data in _Tomarata
st = pd.read_csv('../Data/soil data/Tomarata64068001-20240910095547/TomarataSoilTempContinuous@64068001-20240910095543.csv', parse_dates=['Timestamp (UTC+12:00)'])
st.head(5)

# smheadtail = (np.r_[0:5, -5:0])
stheadtail = st.iloc[np.r_[0:5, -5:0]]
print(stheadtail)

       Timestamp (UTC+12:00)  SoilTemp(c)
0        2014-08-01 12:00:00       11.600
1        2014-08-01 12:15:00       11.500
2        2014-08-01 12:30:00       11.700
3        2014-08-01 12:45:00       11.800
4        2014-08-01 13:00:00       11.800
354125   2024-09-10 20:45:00       14.562
354126   2024-09-10 21:00:00       14.562
354127   2024-09-10 21:15:00       14.562
354128   2024-09-10 21:30:00       14.562
354129   2024-09-10 21:45:00       14.487

In [3]:
# Rainfall data in _Tomarata
rain = pd.read_csv('../Data/soil data/Tomarata64068001-20240910095547/TomarataRainfallContinuous@64068001-20240910095529.csv', parse_dates=['Timestamp (UTC+12:00)'])
rain.head(5)

# smheadtail = (np.r_[0:5, -5:0])
rainheadtail = rain.iloc[np.r_[0:5, -5:0]]
print(rainheadtail)

       Timestamp (UTC+12:00)  Rain(mm)
0        2019-03-05 23:00:00       0.0
1        2019-03-05 23:15:00       0.0
2        2019-03-05 23:30:00       0.0
3        2019-03-05 23:45:00       0.0
4        2019-03-06 00:00:00       0.0
202816   2024-09-10 20:45:00       0.0
202817   2024-09-10 21:00:00       0.0
202818   2024-09-10 21:15:00       0.0
202819   2024-09-10 21:30:00       0.0
202820   2024-09-10 21:45:00       0.0

Data Description

In [4]:
# Display info to check datatype
print("Tomarata Rainfall Data Info:")
rain.info()
print("\nTomarata Soil Moisture Data Info:")
sm.info()
print("\nTomarata Soil Temperature Data Info:")
st.info()

Tomarata Rainfall Data Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 202821 entries, 0 to 202820
Data columns (total 2 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   Timestamp (UTC+12:00)  202821 non-null  datetime64[ns]
 1   Rain(mm)               202821 non-null  float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 3.1 MB

Tomarata Soil Moisture Data Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 186609 entries, 0 to 186608
Data columns (total 2 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   Timestamp (UTC+12:00)  186609 non-null  datetime64[ns]
 1   SoilMoisture(%)        186401 non-null  float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 2.8 MB

Tomarata Soil Temperature Data Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 354130 entries, 0 to 354129
Data columns (total 2 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   Timestamp (UTC+12:00)  354130 non-null  datetime64[ns]
 1   SoilTemp(c)            353978 non-null  float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 5.4 MB

In [5]:
# Overview of data
print("Tomarata Rainfall Data statistics :")
rain.describe()

Tomarata Rainfall Data statistics :

               Timestamp (UTC+12:00)       Rain(mm)
count                         202821  202821.000000
mean   2021-12-12 19:18:26.083984896       0.055087
min              2019-03-05 23:00:00       0.000000
25%              2020-07-28 14:45:00       0.000000
50%              2021-12-23 05:00:00       0.000000
75%              2023-04-20 19:00:00       0.000000
max              2024-09-10 21:45:00      62.500000
std                              NaN       0.491391

In [6]:
print("\nTomarata Soil Moisture Data statistics :")
sm.describe()

Tomarata Soil Moisture Data statistics :

               Timestamp (UTC+12:00)  SoilMoisture(%)
count                         186609    186401.000000
mean   2022-01-09 10:36:34.085172224        35.004390
min              2018-07-07 11:45:00         0.000000
25%              2020-09-11 02:45:00        28.814000
50%              2022-01-10 09:00:00        37.979000
75%              2023-05-14 01:15:00        42.458000
max              2024-09-10 21:45:00        53.509000
std                              NaN         9.902256

In [7]:
print("\nTomarata Soil Temperature Data statistics :")
st.describe()

Tomarata Soil Temperature Data statistics :

               Timestamp (UTC+12:00)    SoilTemp(c)
count                         354130  353978.000000
mean   2019-08-21 11:55:15.207804928      16.819246
min              2014-08-01 12:00:00       6.700000
25%              2017-02-08 17:03:45      13.500000
50%              2019-08-21 13:22:30      16.500000
75%              2022-03-01 06:56:15      19.902000
max              2024-09-10 21:45:00      31.700000
std                              NaN       3.831637

Data Cleaning

In [8]:
# Display missing value
print("'Missing Value in Soil Moisture Data")
sm.isna().sum()
print(sm[sm['SoilMoisture(%)'].isnull()])

'Missing Value in Soil Moisture Data
       Timestamp (UTC+12:00)  SoilMoisture(%)
278      2018-07-10 09:00:00              NaN
279      2018-07-10 09:44:00              NaN
348      2018-07-11 02:30:00              NaN
349      2018-07-11 03:14:00              NaN
362      2018-07-11 06:00:00              NaN
...                      ...              ...
147724   2023-08-02 21:44:00              NaN
166587   2024-02-15 08:45:00              NaN
166588   2024-02-15 09:14:00              NaN
185968   2024-09-04 05:45:00              NaN
185969   2024-09-04 06:14:00              NaN

[208 rows x 2 columns]

In [9]:
# Display missing value

print("Missing Value in Soil Temperature Data")
st.isna().sum()

print(st[st['SoilTemp(c)'].isnull()])

Missing Value in Soil Temperature Data
       Timestamp (UTC+12:00)  SoilTemp(c)
62972    2016-05-18 10:45:00          NaN
62973    2016-05-18 11:29:00          NaN
138903   2018-07-18 09:30:00          NaN
138904   2018-07-18 10:29:00          NaN
139002   2018-07-19 10:30:00          NaN
...                      ...          ...
302484   2023-03-22 23:14:00          NaN
302541   2023-03-23 13:00:00          NaN
302542   2023-03-23 13:29:00          NaN
334109   2024-02-15 08:45:00          NaN
334110   2024-02-15 09:14:00          NaN

[152 rows x 2 columns]

In [10]:
# Display missing value
print("Missing Value in Rainfall Data")
rain.isna().sum()
print(rain[rain['Rain(mm)'].isnull()])

Missing Value in Rainfall Data
Empty DataFrame
Columns: [Timestamp (UTC+12:00), Rain(mm)]
Index: []

# Step 2: Handle Missing Values

In [11]:
# soil moisture and soil temperature using linear to fill data
sm.interpolate(method='linear', inplace=True)
st.interpolate(method='linear', inplace=True)

# soil moisture and soil temperature using linear to fill data
rain.fillna(0, inplace=True)

In [12]:
# double check missing value

# sm.isna().sum()
# st.isna().sum()
# rain.isna().sum()

# Step 3: Resample Data to 15 minutes interval

In [13]:
sm.set_index('Timestamp (UTC+12:00)', inplace=True)
st.set_index('Timestamp (UTC+12:00)', inplace=True)
rain.set_index('Timestamp (UTC+12:00)', inplace=True)

In [14]:
# soil_moisture_30min = sm.resample('30T').mean()
soil_moisture_15mins = sm.resample('15T').mean()

soil_temp_15mins = st.resample('15T').mean()
rainfall_15mins = rain.resample('15T').sum()

C:\Users\Ying\AppData\Local\Temp\ipykernel_3932\3335301185.py:2: FutureWarning: 'T' is deprecated and will be removed in a future version, please use 'min' instead.
  soil_moisture_15mins = sm.resample('15T').mean()
C:\Users\Ying\AppData\Local\Temp\ipykernel_3932\3335301185.py:4: FutureWarning: 'T' is deprecated and will be removed in a future version, please use 'min' instead.
  soil_temp_15mins = st.resample('15T').mean()
C:\Users\Ying\AppData\Local\Temp\ipykernel_3932\3335301185.py:5: FutureWarning: 'T' is deprecated and will be removed in a future version, please use 'min' instead.
  rainfall_15mins = rain.resample('15T').sum()

# Step 4: Combine Data

In [15]:
# Determine the latest common start date
latest_start_date = max(rainfall_15mins.index.min(), soil_moisture_15mins.index.min(), soil_temp_15mins.index.min())
end_date = min(rainfall_15mins.index.max(), soil_moisture_15mins.index.max(), soil_temp_15mins.index.max())

In [16]:
# Filter datasets to the common time range
soil_moisture_15mins = soil_moisture_15mins[latest_start_date:end_date]
soil_temp_15mins = soil_temp_15mins[latest_start_date:end_date]
rainfall_15mins = rainfall_15mins[latest_start_date:end_date]

In [17]:
# Merge datasets on the timestamp
combined_data_15mins = rainfall_15mins.join(soil_temp_15mins, how='inner', rsuffix='_soil_moisture')
combined_data_15mins = combined_data_15mins.join(soil_moisture_15mins, how='inner', rsuffix='_soil_temp')
combined_data_15mins.dropna(inplace=True)  # Drop any rows with missing values after merging

In [19]:
# Save the combined data to a new CSV file
combined_data_15mins.to_csv('../Data/soil data/Tomarata64068001-20240910095547/tomarataCombined_Data_15mins.csv')
print("Combined data (15-minute intervals) saved successfully.")

Combined data (15-minute intervals) saved successfully.

In [20]:
tomarata = pd.read_csv('../Data/soil data/Tomarata64068001-20240910095547/tomarataCombined_Data_15mins.csv', parse_dates=['Timestamp (UTC+12:00)'])
tomarata.head()

  Timestamp (UTC+12:00)  Rain(mm)  SoilTemp(c)  SoilMoisture(%)
0   2019-05-26 04:00:00       0.0       15.229        35.790667
1   2019-05-26 04:15:00       0.0       15.200        33.602000
2   2019-05-26 04:30:00       0.0       15.200        33.602000
3   2019-05-26 04:45:00       0.0       15.200        33.602000
4   2019-05-26 05:00:00       0.0       15.200        33.605000

In [ ]:
tomarata['Location'] = 'North Auckland'
tomarata['Land position'] = 'Footslope'
tomarata['Slope(degree)'] = '0-3'
tomarata['Soil Order'] = 'Ultic'
tomarata['Soil Types / Series'] = 'Kara sandy loam'
tomarata['NZ Soil Classification'] = 'Perch Gley or Densipan Ultic'
tomarata['Soil Profile Description'] = '0-15cm dark grey clay loam (contains some sand grains); 15-30cm silty sand; structure massive when dry, single-grain when wet; 30-50 cm+ pale grey sandy clay subsoil'
tomarata['Pastoral land use'] = 'Dairy'
tomarata.head()
tomarata.to_csv('./Data/soil data/tomarata_soil_data.csv')

Data Transformation

Feature Engineering: Scaling, Normalization and Standardization

Feature Selection

Handling Imbalanced Data

Encoding Categorical Features

Data Splitting