# Step 1: Data Collection

In [1]:
# import library
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

# Soil Moisture data in Waitangi
sm = pd.read_csv('../Data/soil data/WaitangiDiverRoad742736-20240910101133/WaitangiDiverRoad-SoilMoisture742736-20240910101640.csv', parse_dates=['Timestamp (UTC+12:00)'])
sm.head(5)

# smheadtail = (np.r_[0:5, -5:0])
smheadtail = sm.iloc[np.r_[0:5, -5:0]]
print(smheadtail)

       Timestamp (UTC+12:00)  SoilMoisture(%)
0        2014-05-29 19:00:00           43.549
1        2014-05-29 19:15:00           43.513
2        2014-05-29 19:30:00           43.513
3        2014-05-29 19:45:00           43.549
4        2014-05-29 20:00:00           43.548
323354   2024-09-10 21:00:00           34.515
323355   2024-09-10 21:15:00           34.515
323356   2024-09-10 21:30:00           34.515
323357   2024-09-10 21:45:00           34.515
323358   2024-09-10 22:00:00           34.514

In [2]:
# Soil Temperature data in WaitangiDiver Road
st = pd.read_csv('../Data/soil data/WaitangiDiverRoad742736-20240910101133/WaitangiDiverRoad-SoilTemp742736-20240910101235.csv', parse_dates=['Timestamp (UTC+12:00)'])
st.head(5)

# smheadtail = (np.r_[0:5, -5:0])
stheadtail = st.iloc[np.r_[0:5, -5:0]]
print(stheadtail)

       Timestamp (UTC+12:00)  SoilTemp(c)
0        2014-05-26 13:00:00       19.600
1        2014-05-26 13:15:00       22.300
2        2014-05-26 13:30:00       22.500
3        2014-05-26 13:45:00       22.600
4        2014-05-26 14:00:00       22.700
360412   2024-09-10 21:00:00       14.716
360413   2024-09-10 21:15:00       14.566
360414   2024-09-10 21:30:00       14.566
360415   2024-09-10 21:45:00       14.566
360416   2024-09-10 22:00:00       14.559

In [3]:
# Rainfall data in Waitangi
rain = pd.read_csv('../Data/soil data/WaitangiDiverRoad742736-20240910101133/WaitangiDiverRoad-RainfallContinuous742736-20240910101133.csv', parse_dates=['Timestamp (UTC+12:00)'])
rain.head(5)

# smheadtail = (np.r_[0:5, -5:0])
rainheadtail = rain.iloc[np.r_[0:5, -5:0]]
print(rainheadtail)

       Timestamp (UTC+12:00)  Rain(mm)
0        1993-11-30 17:04:00       0.0
1        1993-12-03 03:51:00       0.5
2        1993-12-03 05:42:00       0.5
3        1993-12-03 21:58:00       0.5
4        1993-12-06 08:19:00       0.5
231782   2024-09-10 21:00:00       0.0
231783   2024-09-10 21:15:00       0.0
231784   2024-09-10 21:30:00       0.0
231785   2024-09-10 21:45:00       0.0
231786   2024-09-10 22:00:00       0.0

Data Description

In [4]:
# Display info to check datatype
print("Waitangi Rainfall Data Info:")
rain.info()
print("\n Waitangi Soil Moisture Data Info:")
sm.info()
print("\n Waitangi Soil Temperature Data Info:")
st.info()

Waitangi Rainfall Data Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 231787 entries, 0 to 231786
Data columns (total 2 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   Timestamp (UTC+12:00)  231787 non-null  datetime64[ns]
 1   Rain(mm)               231463 non-null  float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 3.5 MB

 Waitangi Soil Moisture Data Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 323359 entries, 0 to 323358
Data columns (total 2 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   Timestamp (UTC+12:00)  323359 non-null  datetime64[ns]
 1   SoilMoisture(%)        323237 non-null  float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 4.9 MB

 Waitangi Soil Temperature Data Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 360417 entries, 0 to 360416
Data columns (total 2 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   Timestamp (UTC+12:00)  360417 non-null  datetime64[ns]
 1   SoilTemp(c)            360321 non-null  float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 5.5 MB

In [5]:
# Overview of data
print("waitangi Rainfall Data statistics :")
rain.describe()

waitangi Rainfall Data statistics :

               Timestamp (UTC+12:00)       Rain(mm)
count                         231787  231463.000000
mean   2017-07-27 21:46:22.336886784       0.171524
min              1993-11-30 17:04:00       0.000000
25%              2013-09-21 20:51:30       0.000000
50%              2021-07-26 03:15:00       0.000000
75%              2023-02-12 06:21:00       0.500000
max              2024-09-10 22:00:00      33.640000
std                              NaN       0.328985

In [6]:
print("\nwaitangi Soil Moisture Data statistics :")
sm.describe()

waitangi Soil Moisture Data statistics :

               Timestamp (UTC+12:00)  SoilMoisture(%)
count                         323359    323237.000000
mean   2019-08-23 01:00:24.463398400        42.035816
min              2014-05-29 19:00:00         0.000000
25%              2016-09-17 20:52:30        35.293000
50%              2020-01-29 07:15:00        44.564000
75%              2022-05-21 06:07:30        46.322000
max              2024-09-10 22:00:00        51.800000
std                              NaN         5.215146

In [7]:
print("\nwaitangi Soil Temperature Data statistics :")
st.describe()

waitangi Soil Temperature Data statistics :

               Timestamp (UTC+12:00)    SoilTemp(c)
count                         360417  360321.000000
mean   2019-07-20 15:23:04.853211648      16.914071
min              2014-05-26 13:00:00     -25.000000
25%              2016-12-23 07:30:00      13.600000
50%              2019-07-20 13:15:00      16.800000
75%              2022-02-14 05:15:00      20.200000
max              2024-09-10 22:00:00      29.600000
std                              NaN       4.162357

Data Cleaning

In [8]:
# Display missing value
print("Missing Value in Soil Moisture Data")
sm.isna().sum()
print(sm[sm['SoilMoisture(%)'].isnull()])

Missing Value in Soil Moisture Data
       Timestamp (UTC+12:00)  SoilMoisture(%)
119980   2017-10-30 13:45:00              NaN
119981   2018-01-26 07:59:00              NaN
122324   2018-02-19 17:15:00              NaN
122325   2018-02-19 17:44:00              NaN
124110   2018-03-10 07:30:00              NaN
...                      ...              ...
271287   2023-03-18 13:14:00              NaN
299687   2024-01-08 08:30:00              NaN
299688   2024-01-08 08:59:00              NaN
299690   2024-01-08 09:00:00              NaN
299691   2024-01-08 09:29:00              NaN

[122 rows x 2 columns]

In [9]:
# Display missing value

print("Missing Value in Soil Temperature Data")
st.isna().sum()

print(st[st['SoilTemp(c)'].isnull()])

Missing Value in Soil Temperature Data
       Timestamp (UTC+12:00)  SoilTemp(c)
2220     2014-06-18 15:45:00          NaN
2221     2014-06-18 16:29:00          NaN
2257     2014-06-19 01:00:00          NaN
2258     2014-06-19 08:29:00          NaN
2310     2014-06-19 21:00:00          NaN
...                      ...          ...
279076   2022-05-16 11:59:00          NaN
295857   2022-11-07 06:15:00          NaN
295858   2022-11-08 11:14:00          NaN
308299   2023-03-18 00:45:00          NaN
308300   2023-03-18 01:14:00          NaN

[96 rows x 2 columns]

In [10]:
# Display missing value
print("Missing Value in Rainfall Data")
rain.isna().sum()
print(rain[rain['Rain(mm)'].isnull()])

Missing Value in Rainfall Data
      Timestamp (UTC+12:00)  Rain(mm)
59      1993-12-07 22:45:00       NaN
60      1993-12-17 15:01:00       NaN
158     1994-01-16 01:12:00       NaN
159     1994-01-24 12:13:00       NaN
163     1994-01-26 11:08:00       NaN
...                     ...       ...
80968   2018-12-14 16:59:00       NaN
81550   2018-12-25 18:30:00       NaN
81551   2019-01-10 19:59:00       NaN
81728   2019-01-31 05:15:00       NaN
81729   2019-02-07 20:59:00       NaN

[324 rows x 2 columns]

# Step 2: Handle Missing Values

In [11]:
# soil moisture and soil temperature using linear to fill data
sm.interpolate(method='linear', inplace=True)
st.interpolate(method='linear', inplace=True)

# soil moisture and soil temperature using linear to fill data
rain.fillna(0, inplace=True)

In [12]:
# double check missing value

# sm.isna().sum()
# st.isna().sum()
# rain.isna().sum()

# Step 3: Resample Data to 15 minutes interval

In [13]:
sm.set_index('Timestamp (UTC+12:00)', inplace=True)
st.set_index('Timestamp (UTC+12:00)', inplace=True)
rain.set_index('Timestamp (UTC+12:00)', inplace=True)

In [14]:
# soil_moisture_30min = sm.resample('30T').mean()
soil_moisture_15mins = sm.resample('15T').mean()

soil_temp_15mins = st.resample('15T').mean()
rainfall_15mins = rain.resample('15T').sum()

C:\Users\Ying\AppData\Local\Temp\ipykernel_13744\3335301185.py:2: FutureWarning: 'T' is deprecated and will be removed in a future version, please use 'min' instead.
  soil_moisture_15mins = sm.resample('15T').mean()
C:\Users\Ying\AppData\Local\Temp\ipykernel_13744\3335301185.py:4: FutureWarning: 'T' is deprecated and will be removed in a future version, please use 'min' instead.
  soil_temp_15mins = st.resample('15T').mean()
C:\Users\Ying\AppData\Local\Temp\ipykernel_13744\3335301185.py:5: FutureWarning: 'T' is deprecated and will be removed in a future version, please use 'min' instead.
  rainfall_15mins = rain.resample('15T').sum()

# Step 4: Combine Data

In [15]:
# Determine the latest common start date
latest_start_date = max(rainfall_15mins.index.min(), soil_moisture_15mins.index.min(), soil_temp_15mins.index.min())
end_date = min(rainfall_15mins.index.max(), soil_moisture_15mins.index.max(), soil_temp_15mins.index.max())

In [16]:
# Filter datasets to the common time range
soil_moisture_15mins = soil_moisture_15mins[latest_start_date:end_date]
soil_temp_15mins = soil_temp_15mins[latest_start_date:end_date]
rainfall_15mins = rainfall_15mins[latest_start_date:end_date]

In [17]:
# Merge datasets on the timestamp
combined_data_15mins = rainfall_15mins.join(soil_temp_15mins, how='inner', rsuffix='_soil_moisture')
combined_data_15mins = combined_data_15mins.join(soil_moisture_15mins, how='inner', rsuffix='_soil_temp')
combined_data_15mins.dropna(inplace=True)  # Drop any rows with missing values after merging

In [18]:
# Save the combined data to a new CSV file
combined_data_15mins.to_csv('../Data/soil data/WaitangiDiverRoad742736-20240910101133/waitangiCombined_Data_15mins.csv')
print("Combined data (15-minute intervals) saved successfully.")

Combined data (15-minute intervals) saved successfully.

In [19]:
waitangi = pd.read_csv('../Data/soil data/WaitangiDiverRoad742736-20240910101133/waitangiCombined_Data_15mins.csv', parse_dates=['Timestamp (UTC+12:00)'])
waitangi.head()

  Timestamp (UTC+12:00)  Rain(mm)  SoilTemp(c)  SoilMoisture(%)
0   2014-05-29 19:00:00       0.0         13.8           43.549
1   2014-05-29 19:15:00       0.0         13.8           43.513
2   2014-05-29 19:30:00       0.0         13.8           43.513
3   2014-05-29 19:45:00       0.0         13.8           43.549
4   2014-05-29 20:00:00       0.0         13.8           43.548

In [20]:
waitangi['Location'] = 'South Auckland'
waitangi['Land position'] = 'Flat terrace edge above scarp'
waitangi['Slope(degree)'] = '0'
waitangi['Soil Order'] = 'Allophanic'
waitangi['Soil Types / Series'] = 'Patumahoe clay loam'
waitangi['NZ Soil Classification'] = 'Typic Orthic Granular'
waitangi['Soil Profile Description'] = '0-15cm brown sandy loam, powdery structure, loose consistence (when dry); 15-30+cm orange-brown clay loam crumbly structure, firm consistence (slightly moist)'
waitangi['Pastoral land use'] = 'Lifestyle block'
waitangi.head()
waitangi.to_csv('../Data/soil data/waitangi_soil_data.csv')

Data Transformation

Feature Engineering: Scaling, Normalization and Standardization

Feature Selection

Handling Imbalanced Data

Encoding Categorical Features

Data Splitting