# Step 1: Data Collection

In [3]:
# import library
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

# Soil Moisture data in Hoteo
sm = pd.read_csv('../Data/soil data/HoteoatOldfields-643510-20240909094142/HoteoOldfields-SoilMoistureContinuous@643510-20240909094133.csv', parse_dates=['Timestamp (UTC+12:00)'])
sm.head(5)

# smheadtail = (np.r_[0:5, -5:0])
smheadtail = sm.iloc[np.r_[0:5, -5:0]]
print(smheadtail)

      Timestamp (UTC+12:00)  SoilMoisture(%)
0       2023-02-08 05:15:00           47.376
1       2023-02-08 05:30:00           47.472
2       2023-02-08 05:45:00           47.472
3       2023-02-08 06:00:00           47.472
4       2023-02-08 06:15:00           47.472
55648   2024-09-09 20:30:00           50.241
55649   2024-09-09 20:45:00           50.239
55650   2024-09-09 21:00:00           50.433
55651   2024-09-09 21:15:00           50.433
55652   2024-09-09 21:30:00           50.433

In [4]:
# Soil Temperature data in Hoteo
st = pd.read_csv('../Data/soil data/HoteoatOldfields-643510-20240909094142/HoteoOldfields-SoilTempContinuous@643510-20240909094139.csv', parse_dates=['Timestamp (UTC+12:00)'])
st.head(5)

# smheadtail = (np.r_[0:5, -5:0])
stheadtail = st.iloc[np.r_[0:5, -5:0]]
print(stheadtail)

       Timestamp (UTC+12:00)  SoilTemp(c)
0        2015-10-21 10:29:00        0.000
1        2015-10-21 10:30:00       16.100
2        2015-10-21 10:45:00       16.400
3        2015-10-21 11:00:00       16.500
4        2015-10-21 11:15:00       16.600
310967   2024-09-09 20:30:00       15.511
310968   2024-09-09 20:45:00       15.511
310969   2024-09-09 21:00:00       15.355
310970   2024-09-09 21:15:00       15.355
310971   2024-09-09 21:30:00       15.355

In [5]:
# Rainfall data in Hoteo
rain = pd.read_csv('../Data/soil data/HoteoatOldfields-643510-20240909094142/HoteoOldfields-RainfallContinuous@643510-20240909094130.csv', parse_dates=['Timestamp (UTC+12:00)'])
rain.head(5)

# smheadtail = (np.r_[0:5, -5:0])
rainheadtail = rain.iloc[np.r_[0:5, -5:0]]
print(rainheadtail)

       Timestamp (UTC+12:00)  Rain(mm)
0        1978-05-09 01:23:00       0.0
1        1978-05-09 01:29:00       0.5
2        1978-05-09 01:41:00       0.0
3        1978-05-09 01:47:00       0.5
4        1978-05-09 08:29:00       0.0
284909   2024-09-09 20:30:00       0.0
284910   2024-09-09 20:45:00       0.0
284911   2024-09-09 21:00:00       0.0
284912   2024-09-09 21:15:00       0.0
284913   2024-09-09 21:30:00       0.0

Data Description

In [6]:
# Display info to check datatype
print("Hoteo Rainfall Data Info:")
rain.info()
print("\nHoteo Soil Moisture Data Info:")
sm.info()
print("\nHoteo Soil Temperature Data Info:")
st.info()

Hoteo Rainfall Data Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284914 entries, 0 to 284913
Data columns (total 2 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   Timestamp (UTC+12:00)  284914 non-null  datetime64[ns]
 1   Rain(mm)               284896 non-null  float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 4.3 MB

Hoteo Soil Moisture Data Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55653 entries, 0 to 55652
Data columns (total 2 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Timestamp (UTC+12:00)  55653 non-null  datetime64[ns]
 1   SoilMoisture(%)        55651 non-null  float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 869.7 KB

Hoteo Soil Temperature Data Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 310972 entries, 0 to 310971
Data columns (total 2 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   Timestamp (UTC+12:00)  310972 non-null  datetime64[ns]
 1   SoilTemp(c)            310860 non-null  float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 4.7 MB

In [7]:
# Overview of data
print("Hoteo Rainfall Data statistics :")
rain.describe()

Hoteo Rainfall Data statistics :

               Timestamp (UTC+12:00)       Rain(mm)
count                         284914  284896.000000
mean   2011-11-08 03:49:14.667794432       0.222728
min              1978-05-09 01:23:00       0.000000
25%              2001-11-07 23:53:00       0.000000
50%              2019-06-10 07:30:00       0.000000
75%              2022-10-29 15:26:15       0.500000
max              2024-09-09 21:30:00      55.040000
std                              NaN       0.387282

In [8]:
print("Hoteo Soil Moisture Data statistics :")
sm.describe()

Hoteo Soil Moisture Data statistics :

               Timestamp (UTC+12:00)  SoilMoisture(%)
count                          55653     55651.000000
mean   2023-11-25 01:05:13.104414720        43.719762
min              2023-02-08 05:15:00        31.277000
25%              2023-07-03 02:45:00        36.535000
50%              2023-11-25 01:00:00        47.242000
75%              2024-04-17 23:15:00        50.294000
max              2024-09-09 21:30:00        59.222000
std                              NaN         7.396094

In [9]:
print("Hoteo Soil Temperature Data statistics :")
st.describe()

Hoteo Soil Temperature Data statistics :

               Timestamp (UTC+12:00)    SoilTemp(c)
count                         310972  310860.000000
mean   2020-03-30 19:07:22.759798016      17.875659
min              2015-10-21 10:29:00       0.000000
25%              2018-01-08 04:26:15      14.200000
50%              2020-03-28 13:52:30      17.600000
75%              2022-06-21 11:18:45      21.286500
max              2024-09-09 21:30:00      34.000000
std                              NaN       4.529009

Data Cleaning

In [10]:
# Display missing value
print("'Missing Value in Soil Moisture Data")
sm.isna().sum()
print(sm[sm['SoilMoisture(%)'].isnull()])

'Missing Value in Soil Moisture Data
    Timestamp (UTC+12:00)  SoilMoisture(%)
204   2023-02-10 08:00:00              NaN
205   2023-02-10 08:29:00              NaN

In [11]:
# Display missing value

print("Missing Value in Soil Temperature Data")
st.isna().sum()

print(st[st['SoilTemp(c)'].isnull()])

Missing Value in Soil Temperature Data
       Timestamp (UTC+12:00)  SoilTemp(c)
91884    2018-06-04 11:15:00          NaN
91885    2018-06-04 11:44:00          NaN
92909    2018-06-15 03:15:00          NaN
92910    2018-06-15 03:44:00          NaN
93934    2018-06-25 19:15:00          NaN
...                      ...          ...
244754   2022-10-19 12:59:00          NaN
246085   2022-11-02 09:15:00          NaN
246086   2022-11-02 10:29:00          NaN
270585   2023-07-15 14:15:00          NaN
270586   2023-07-17 05:29:00          NaN

[112 rows x 2 columns]

In [12]:
# Display missing value
print("Missing Value in Rainfall Data")
rain.isna().sum()
print(rain[rain['Rain(mm)'].isnull()])

Missing Value in Rainfall Data
       Timestamp (UTC+12:00)  Rain(mm)
139860   2018-12-26 02:00:00       NaN
139861   2019-01-14 06:59:00       NaN
139956   2019-02-03 05:30:00       NaN
139957   2019-02-20 10:54:00       NaN
157050   2020-10-01 06:45:00       NaN
157051   2020-10-08 17:59:00       NaN
157698   2020-12-10 00:00:00       NaN
157699   2020-12-22 08:59:00       NaN
157941   2021-01-24 18:30:00       NaN
157942   2021-02-09 04:59:00       NaN
158150   2021-02-16 12:30:00       NaN
158151   2021-02-27 08:59:00       NaN
158253   2021-03-18 14:15:00       NaN
158254   2021-03-27 05:59:00       NaN
158333   2021-04-01 16:00:00       NaN
158334   2021-04-09 22:59:00       NaN
158729   2021-05-01 03:45:00       NaN
158730   2021-05-08 05:44:00       NaN

# Step 2: Handle Missing Values

In [13]:
# soil moisture and soil temperature using linear to fill data
sm.interpolate(method='linear', inplace=True)
st.interpolate(method='linear', inplace=True)

# soil moisture and soil temperature using linear to fill data
rain.fillna(0, inplace=True)

In [14]:
# double check missing value

# sm.isna().sum()
# st.isna().sum()
# rain.isna().sum()

# Step 3: Resample Data to 15 minutes interval

In [15]:
sm.set_index('Timestamp (UTC+12:00)', inplace=True)
st.set_index('Timestamp (UTC+12:00)', inplace=True)
rain.set_index('Timestamp (UTC+12:00)', inplace=True)

In [16]:
# soil_moisture_30min = sm.resample('30T').mean()
soil_moisture_15mins = sm.resample('15T').mean()

soil_temp_15mins = st.resample('15T').mean()
rainfall_15mins = rain.resample('15T').sum()

C:\Users\Ying\AppData\Local\Temp\ipykernel_1340\3335301185.py:2: FutureWarning: 'T' is deprecated and will be removed in a future version, please use 'min' instead.
  soil_moisture_15mins = sm.resample('15T').mean()
C:\Users\Ying\AppData\Local\Temp\ipykernel_1340\3335301185.py:4: FutureWarning: 'T' is deprecated and will be removed in a future version, please use 'min' instead.
  soil_temp_15mins = st.resample('15T').mean()
C:\Users\Ying\AppData\Local\Temp\ipykernel_1340\3335301185.py:5: FutureWarning: 'T' is deprecated and will be removed in a future version, please use 'min' instead.
  rainfall_15mins = rain.resample('15T').sum()

# Step 4: Combine Data

In [17]:
# Determine the latest common start date
latest_start_date = max(rainfall_15mins.index.min(), soil_moisture_15mins.index.min(), soil_temp_15mins.index.min())
end_date = min(rainfall_15mins.index.max(), soil_moisture_15mins.index.max(), soil_temp_15mins.index.max())

In [18]:
# Filter datasets to the common time range
soil_moisture_15mins = soil_moisture_15mins[latest_start_date:end_date]
soil_temp_15mins = soil_temp_15mins[latest_start_date:end_date]
rainfall_15mins = rainfall_15mins[latest_start_date:end_date]

In [19]:
# Merge datasets on the timestamp
combined_data_15mins = rainfall_15mins.join(soil_temp_15mins, how='inner', rsuffix='_soil_moisture')
combined_data_15mins = combined_data_15mins.join(soil_moisture_15mins, how='inner', rsuffix='_soil_temp')
combined_data_15mins.dropna(inplace=True)  # Drop any rows with missing values after merging

In [21]:
# Save the combined data to a new CSV file
combined_data_15mins.to_csv('../Data/soil data/HoteoatOldfields-643510-20240909094142/hoteoCombined_Data_15mins.csv')
print("Combined data (15-minute intervals) saved successfully.")

Combined data (15-minute intervals) saved successfully.

In [ ]:
hoteo = pd.read_csv('./Data/soil data/HoteoatOldfields-643510-20240909094142/hoteoCombined_Data_15mins.csv', parse_dates=['Timestamp (UTC+12:00)'])
hoteo.head()

  Timestamp (UTC+12:00)  SoilMoisture(%)  SoilTemp(c)  Rain(mm)
0   2023-02-08 05:15:00           47.376         21.8       0.0
1   2023-02-08 05:30:00           47.472         21.7       0.0
2   2023-02-08 05:45:00           47.472         21.6       0.0
3   2023-02-08 06:00:00           47.472         21.5       0.0
4   2023-02-08 06:15:00           47.472         21.4       0.0

In [ ]:
hoteo.describe()

,Timestamp (UTC+12:00),SoilMoisture(%),SoilTemp(c),Rain(mm)
count,55495,55495.000000,55495.000000,55495.000000
mean,2023-11-25 10:11:59.902693888,43.701477,17.050040,0.045854
min,2023-02-08 05:15:00,31.277000,7.500000,0.000000
25%,2023-07-02 17:37:30,36.529000,13.700000,0.000000
50%,2023-11-25 20:45:00,47.209000,16.600000,0.000000
75%,2024-04-18 09:07:30,50.292000,20.000000,0.000000
max,2024-09-09 21:30:00,59.222000,29.500000,14.470000
std,NaN,7.398281,4.129613,0.293859

In [ ]:
hoteo['Location'] = 'North Auckland'
hoteo['Land position'] = 'Footslope'
hoteo['Slope(degree)'] = '4-7'
hoteo['Soil Order'] = 'Ultic'
hoteo['Soil Types / Series'] = 'Aponga clay loam (colluvial variant)'
hoteo['NZ Soil Classification'] = 'Typic Yellow Ultic'
hoteo['Soil Profile Description'] = '0-20cm dark grey sandy loam, nutty structure (when dry); 20-30cm pale brown silty clay with grey mottles, blocky structure (when dry)'
hoteo['Pastoral land use'] = 'Lifestyle block'
hoteo.head()
hoteo.to_csv('./Data/soil data/hoteo_soil_data.csv')

Data Transformation

Feature Engineering: Scaling, Normalization and Standardization

Feature Selection

Handling Imbalanced Data

Encoding Categorical Features

Data Splitting