In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
import warnings
warnings.filterwarnings('ignore')

In [3]:
from statsmodels.tsa.statespace.sarimax import SARIMAX
from statsmodels.tsa.seasonal import seasonal_decompose
from pmdarima import auto_arima

In [4]:
mtalbert = pd.read_csv('../Data/soil data/mtalbert-648717-20241008172730/MtAlbert_Data_15mins.csv', index_col="Timestamp (UTC+12:00)", parse_dates=['Timestamp (UTC+12:00)'])
mtalbert.head()

                       SoilMoisture(%)  SoilTemp(c)  Rain(mm)
Timestamp (UTC+12:00)
2018-07-07 11:15:00             37.364         10.4       0.0
2018-07-07 11:30:00             37.594         10.4       0.0
2018-07-07 11:45:00             37.590         10.4       0.0
2018-07-07 12:00:00             37.587         10.5       0.0
2018-07-07 12:15:00             37.584         10.5       0.0

In [5]:

mtalbert = mtalbert.resample('H').agg({
    'SoilMoisture(%)': 'mean',
    'SoilTemp(c)': 'mean',
    'Rain(mm)': 'sum'
})
mtalbert.head()

                       SoilMoisture(%)  SoilTemp(c)  Rain(mm)
Timestamp (UTC+12:00)
2018-07-07 11:00:00           37.51600       10.400       0.0
2018-07-07 12:00:00           37.52375       10.600       0.0
2018-07-07 13:00:00           37.57200       10.700       0.0
2018-07-07 14:00:00           37.34300       10.725       0.0
2018-07-07 15:00:00           37.35050       10.950       0.0

In [6]:
mtalbert.index.freq